<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:fragment="page_head(title)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0, minimum-scale=1.0">
        <title>[[${title}]]</title>
        <link rel="stylesheet" th:href="@{/fontawesome/all.css}">
        <link rel="stylesheet" th:href="@{/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
        <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>

    </head>
</head>
<body>
<div th:fragment="footer" class="text-center m-3">
    <p>CozyCats Control Panel - Copyright &copy;CozyCats</p>
</div>

    <th th:fragment="column_link(fieldName, columLabel)">
        <a  th:if="${sortField != fieldName}" class="text-black text-decoration-none"
            th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            [[${columLabel}]]</a>

        <span th:if="${sortField == fieldName}"
              th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    </th>


</body>
</html>